*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    max-width: 100%;
    overflow-x: hidden;
}

#navbar {
    display: flex;
    position: relative;
    justify-content:space-around;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background-color:white;
}
.logo {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    color: rgb(15, 15, 240);
    font-size: 33px;
    font-family: 'Noto Sans TC', sans-serif;

}
a{
    text-decoration: none;
    color: rgb(15, 15, 240);
    font-family: 'Noto Sans TC', sans-serif;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0;

}
li {
    display: inline;
    margin-inline: 6px;
}
.locationdx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(15, 15, 240);
}
/*Responsive Navbar*/
@media screen and (min-width: 600px){
    #respnav{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #navbar>ul {
        display: none;
    }
    #respnav {
        position:fixed;
        bottom: 0;
        z-index: 1;
        width: 100vw;
        height: 10vh;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .respnavitem>a {
        font-size: 20px;
        font-family: 'Pacifico', Arial, Helvetica, sans-serif;
        color:  rgb(15, 15, 240);
    }
}
header{
    text-align: center;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 240);

}
.datas{
    height: initial;
    width: 100vw;

}
.graph{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.graph-name{
    font-size: 20px;
    margin-left: 30px;
    text-align: left ;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}
#graph{
    width: 300px;
    height: 310px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 15px ;
}